pandas
psutil
omegaconf
gevent
dill
gevent
requests
hydra-core
huggingface-hub
spacy
colorlog
tqdm

ogb
transformers
datasets
FileLock-git
torch>=2.3
dataclasses
torchmetrics
numpy
torchvision
networkx
scipy